.form-group.separator .col-lg-4 {
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  padding: 18px 18px 16px;
  font-weight: bold;
  font-size: 0.95rem;
}
.form-group.separator .col-lg-8 {
  display: none;
}

#conditions {
  display: flex;

  .list-group {

    border: 1px solid #ddd;
    border-width: 1px;

    button {
      width: 100%;
      text-align: left;
      min-width: 200px;
      border-radius: 0;
      border-width: 1px 0 0 0;

      &:first-child {
        border-top: 0;
      }

      &.is-active {
        background: #363a41;
        color: white;
      }
    }
    margin-bottom: 0;
  }

  .collapsing {
    transition: none;
    display: none;
  }

  .condition-collapse {
    border: 1px solid #ddd;
    margin-left: -1px;
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
  }
  .form-group-inline {
    display: flex;
    align-items: center;

    label {
      margin-top: 0;
      margin-right: 1rem;
      white-space: nowrap;
    }

    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}
